input, select{
    outline: none;
    padding: 10px;
    border: 1px solid #c9c3c3;
    min-width: 250px;
    background-color: #fff;
    margin: 0px 10px 0px 0px;
}
input:focus{
    outline: none;
}
button.primary{
    padding: 10px 15px;
    background-color: #1E6CE4;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}